@import "./theme.scss";

.contentBox {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    min-height: 300px;
    padding: 5px 5px;
    @include flex-column(start, start);
    overflow: scroll;
}

.minHeight {
    height: 200px;
}
.nonContent {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    min-height: 300px;
    @include flex-row(start, start);
    overflow: scroll;
}
