@import "./theme.scss";

.main {
    position: relative;
    top: 60px + 35.5px + 20px;
    padding: 10px 30px 70px 40px; //mobile하단 navigation으로 하단 padding 70px
    // padding: 10px 0 10px 20px;
    @include flex-row-nowrap(start, start);
    overflow: scroll;
    white-space: nowrap;
}

.oneBoardContainer {
    width: 100%;
    min-width: 100%;
    padding-right: 20px;
    @include flex-column(start, start);
    > span {
        padding: 10px;
        text-shadow: 2px 2px 2px rgb(171, 167, 167);
    }
    > div {
        padding: 10px;
    }
}

@include desktop {
    .oneBoardContainer {
        width: 30%;
        min-width: 30%;
        padding-right: 20px;
        @include flex-column(start, start);
        > span {
            padding: 10px;
            text-shadow: 2px 2px 2px rgb(171, 167, 167);
        }
        > div {
            padding: 10px;
        }
    }
}
@include tablet {
    .oneBoardContainer {
        width: 40%;
        min-width: 40%;
        padding-right: 20px;
        @include flex-column(start, start);
        > span {
            padding: 10px;
            text-shadow: 2px 2px 2px rgb(171, 167, 167);
        }
        > div {
            padding: 10px;
        }
    }
}
