@import "./theme.scss";

.contentBox {
    background-color: white;
    border-radius: 20px;
    min-height: 130px;
    max-height: 180px;
    padding: 5px 5px;
    @include flex-row(start, start);
    overflow: scroll;
    > div {
        width: 33%;
    }
    > a {
        width: 33%;
    }
}

.minHeight {
    height: 200px;
}
.nonContent {
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    min-height: 130px;
    max-height: 180px;
    @include flex-row(start, start);
    overflow: scroll;
}
