@import "./theme.scss";
.contentBox {
    background-color: white;
    border-radius: 20px;
    min-height: 130px;
    max-height: 180px;
    padding: 5px 5px;
    @include flex-row(start, start);
    overflow: scroll;
}

.minHeight {
    height: 200px;
}
